<!DOCTYPE html>
<html>
    
    {% load static %}
    
    <head>
        <title>Conversor de palavras</title>
        <link rel="stylesheet" href="{% static 'web_site/css/style.css' %}"> 
        <meta charset="UTF-8"> 
    </head>
    
    
    <body>
        <h1 class="h_title">Conversor de palavras</h1>      
        <p class="p_title">Digite ou cole a palavra abaixo: </p>   
        <form class="form" method="post" action="{% url 'word_conversion' %}">
            {% csrf_token %}      
            {{ form.as_ul }}
            
            {% if json_pretty %} 
            <button class="form-button" role="button">Converter</button>
            <div>
                <label for="json_pretty"></label>
                <textarea class="userword" >{{ json_pretty }}</textarea>
            </div>
            
            {% endif %}    
        </form>   
    </body> 
</html>






<!-- {% if low_word %}
    <textarea name="low_word" id="low_word" cols="30" rows="10" readonly>{{ low_word }}</textarea>
{% endif %} -->



<!-- <div class="div_box">
   <p>Palavra: {{ word_conversion }}</p> 
</div> -->