<!DOCTYPE html>
{% load static %}

<link rel="stylesheet" href="{% static 'web_site/css/style.css' %}">  
<head>
    <title>Conversor de palavras</title>   
</head>


      
<form method="post" action="{% url 'word_conversion' %}">
    {% csrf_token %}      
    {{ form.as_ul }}
    
    {% if json_pretty %}
        <label for="json_pretty"></label>
        <textarea class="userword" >{{ json_pretty }}</textarea>
    {% endif %}
</form>    
  




<!-- <div><img class="imagem" src="{% static 'img/5800453.png' %}" alt="My image"></div>

<footer>
    <input onclick="low_word()" type="radio" name="minuscula" id="minuscula" value="Minúscula">
    <label for="minuscula">Minúscula</label> -->
    <!-- <input class="prim_letra" type="radio" name="primeira" id="primeira" value="Primeira">
    <label for="primeira">Primeira Letra</label> --> 



<!-- {% if low_word %}
    <textarea name="low_word" id="low_word" cols="30" rows="10" readonly>{{ low_word }}</textarea>
{% endif %} -->




<!-- <div>
    <button type="button" class="div_button">Converter</button>
</div>  -->

<!-- <div class="div_box">
   <p>Palavra: {{ word_conversion }}</p> 
</div> -->

