{% load static %}
{% csrf_token %}

<link rel="stylesheet" href="{% static 'web_site/css/style.css' %}">  

<head>
    <title>Conversor de palavras</title>
    <p>Digite ou cole uma palavra abaixo:</p>  
</head>



<div>       
    <form method="post" action="{% url 'word_conversion' %}">
        <label for="word" id="word"></label> 
        <input class="inputuser" name="word" id="word_form">
    </form>    
</div>    


<textarea name="word_conversion" id="word_conversion" cols="30" rows="10" readonly>{{ word_conversion }}</textarea>


<div><img class="imagem" src="{% static 'img/5800453.png' %}" alt="My image"></div>

<footer>
    <input type="radio" name="minuscula" id="minuscula" value="Minúscula">
    <label for="minuscula">Minúscula</label>
    <input class="prim_letra" type="radio" name="primeira" id="primeira" value="Primeira">
    <label for="primeira">Primeira Letra</label>
</footer>



<!-- <div class="div_box">
   <p>Palavra: {{ word_conversion }}</p> 
</div> -->

