.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-word {
  height: 200px;
  width: 206px;
  box-shadow: 8px 1px 12px
}

.form-button {
  padding: 5px 10px;
  border-radius: 10px;
  background-color: black;
  border: none;
  color: white;
  font-weight: bold;
  position: relative;
}

.p_title {
  position: relative;
  top: -69px;
  font-family: sans-serif;
}

.userword{
  height: 200px;
  width: 206px;
  box-shadow: 8px 1px 12px
}

li {
  display: block;
  font-family: sans-serif

}

body {
  position: relative;
  top: 143px;
  padding: 48px;
}
.convert_choice {

}
  


.form-button::before {
  content: '';
  background: linear-gradient(45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  inset: -2px;
  z-index: -1;
  border-radius: 10px;
  background-size: 400%;
  animation: glowing-form-button 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
}

@keyframes glowing-form-button {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
