p {
    color: #080808;
    position: relative;
    top: 69px;
    left: 27px;
}


.div_button{
    position: relative;
    top: 133px;
    left: 27;
}


.imagem{
    position: relative;
    left: 143px;
    top: -72px;
    width: 92px;
    height: 87px;
    margin: -4px;
    transform: rotate(90deg);
}

textarea {
    position: relative; 
    top: 200px; 
    left: 27px; 
    width: 330; 
    height: 163px;
}

footer {
    position: relative;
    top: 141px;
    left: 24px;
}

.userword{
    position: absolute; 
    top: 200px; 
    left: 27px; 
    width: 330; 
    height: 163px;
}

